
    <h2>Danh sách cửa hàng </h2>
<app-store-detail [store]="selectedStore" (closeClick)="onClearSelectStore()" ></app-store-detail>           
    <table class="table" *ngIf='stores && stores.length'>
      <thead>
        <tr>
          <th class="col-xs-1">Mã</th>
          <th class="col-xs-4">Tên cửa hàng</th>
          <th class="col-xs-5">Đia chỉ</th>
          <th class="col-xs-2">Quận</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let store of stores" (click)="onSelectedStore(store)" >

              
              <td class="col-xs-1"><a routerLink="/ss"> {{store.code}}</a></td>
              <td class="col-xs-4">{{store.name | uppercase}}</td>
              <td class="col-xs-5">{{store.address}}</td>
              <td class="col-xs-2">{{store.district}}</td>            
            </tr>        
      </tbody>
      
    </table>
    
