<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="Name" class="text-bold  ">Nội dung câu hỏi <span class="text-danger">*</span></label>
            
         </div>
         <div class="form-group">
            <label for="Name" class="text-bold">Câu trả lời<span class="text-danger">*</span></label>
            <div class="btn-group ng-scope pull-right"><button type="button" class="btn btn-outline-primary btn-sm" (click)="onClickAddAnswer()" ><i class="fa fa-plus"></i></button><button type="button" class="btn btn-outline-danger btn-sm"><i class="fa fa-close"></i></button></div>
         </div>
       
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  
  <div class="card-header">
      <div class="row">
          <div class="col-md-8">
              <button class="btn btn-outline-primary" (click)="open(content)" ><i class="fa fa-plus"></i> Tạo mới</button>
          </div>
          <div class="col-md-4">
              <!-- ngIf: filterState.State == 0 --><button class="btn btn-outline-primary pull-right ng-scope" ng-click="applyFilter()" ng-if="filterState.State == 0">Lọc dữ liệu <i class="fa fa-filter" aria-hidden="true"></i></button><!-- end ngIf: filterState.State == 0 -->
              <!-- ngIf: filterState.State == 1 -->
          </div>
      </div>
  </div>
