<div *ngIf="store" class="modal fade in" id="modal-primary" style="display: block; padding-right: 17px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Cập nhật cửa hàng</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
        <label>Name </label>
        <div class="form-group">
            <label for="Name" class="text-bold">Tên <span class="text-danger">*</span></label>
            <input [(ngModel)]="store.name" class="form-control" placeholder="name"/>
        </div>
        <div class="form-group">
            <label for="Name" class="text-bold">Địa chỉ <span class="text-danger">*</span></label>
            <input [(ngModel)]="store.address" class="form-control" placeholder="name"/>
        </div>
        <div class="form-group">
            <label for="Name" class="text-bold">Tỉnh <span class="text-danger">*</span></label>
            <input [(ngModel)]="store.province" class="form-control" placeholder="name"/>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="#modal-default" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  <!-- Modal -->
  
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <label>{{store.name | uppercase}}</label>
        <label>{{store.address}}</label>
        <label>{{store.province}}</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>